<div class="form-horizontal" *ngIf="showOptions">


  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">{{text2}}</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>


  <div class=" m-2 mt-1 form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
    <label class="form-check-label" for="defaultCheck2">
            {{text1}}
    </label>
  </div>

  <button class="btn btn-primary" (click)="submit()">Submit Order</button>
</div>


<div *ngFor="let title of title">
{{title | json}}
</div>

