<section>
  <div>
    <nav class="navbar navbar-expand-md bg-dark text-white navbar-dark p-2">
      <h1>Order Parts</h1>
    </nav>
  </div>
</section>
<div class="container">
  <div class="row row-cols-2">
    <div class="col">
      <app-photo-button
        text="Tire"
        imgSource="assets/1.png"
        option1="Options"
      ></app-photo-button>
    </div>

    <div class="col">
      <app-photo-button
        text="Bushing"
        imgSource="assets/1.png"
        option1="Options"
      ></app-photo-button>
    </div>

    <div class="col">
      <app-photo-button
        text="Oil filter"
        imgSource="assets/1.png"
        option1="Options"
      ></app-photo-button>
    </div>

    <div class="col">
      <app-photo-button
        text="Oil 10w-30"
        imgSource="assets/1.png"
        option1="Options"
      ></app-photo-button>
    </div>

</div>

