<section>
  <div>
    <nav class="navbar navbar-expand-md bg-dark text-white navbar-dark p-2">
      <h1>Order Parts</h1>
    </nav>
  </div>
</section>
<div class="container">
  <div class="row row-cols-2">
    <div class="col">
      <app-photo-button
        text="Tire"
        imgSource="assets/tire.png"
        option1="Options"
      ></app-photo-button>
    </div>

    <div class="col">
      <app-photo-button
        text="Tie-Rod Bushing"
        imgSource="assets/tieRod.jpg"
        option1="Options"
      ></app-photo-button>
    </div>

    <div class="col">
      <app-photo-button
        text="Oil filter"
        imgSource="assets/oilFilter.webp"
        option1="Options"
      ></app-photo-button>
    </div>

    <div class="col">
      <app-photo-button
        text="Oil 10w-30"
        imgSource="assets/1030oil.jpg"
        option1="Options"
      ></app-photo-button>
    </div>

    <div class="col">
      <app-photo-button
        text="Oil 10w-30"
        imgSource="assets/1030oil.jpg"
        option1="Options"
      ></app-photo-button>
    </div>
  </div>
</div>

<div *ngFor="let part of parts">
  <div>{{part.name}}</div>
</div>
